<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Martie · SDSLabs</title>
    <link rel="shortcut icon" href="/images/logo.png">
    <link rel="stylesheet" href="/stylesheets/pure.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="content">
      <div id="navbar" class="pure-u-1 pure-menu pure-menu-open pure-menu-horizontal">
      <ul>
        <li id="topbar-logo-div"><a href="/"><img id="logo-image" src="/images/logo.png" alt="">Martie</a></li>
        <li id="topbar-url"><a href="">martie.sdslabs.co.in/<%= urlname %></a></li>
      </ul>
      </div>
      <div id="header" style="background: url('/images/create_header.jpg') no-repeat; background-position: center; background-size: cover;">
        <div id="party-name" class="header-text">
          <%= name %>
        </div>
        <div id="party-meta" class="header-text">
          Choose Your Favourite Tracks
        </div>
        <form action="#" class="pure-form" id="search-div">
          <label for="search-input"><img src="/images/search.png" alt=""></label>
          <input type="text" name="search" class="pure-input-1" id="search-input" placeholder="Search" autofocus>
        </form>
      </div>
      <div class="pure-u-3-5" id="main">
        <ul id="artwork-grid">
          <li class="track-div">
            <div class="artwork"><img src="/images/album.jpg" alt=""></div>
            <span class="song-meta">
              <span class="name">Rolling in the Deep</span><br>
              <span class="artist">Adele</span>
            </span>
          </li>
        </ul>
      </div>
      <div class="pure-u-1-5" id="right-sidebar">
        <h2>QUEUE</h2>
        <ul id="queue">
        </ul>
      </div>
      <div id="footer">
          Team SDSLabs · 2013 · <a href="//github.com/sdslabs/martie">github.com/sdslabs/martie</a>
      </div>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/imagesLoaded.min.js"></script>
    <script src="/javascripts/masonry.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>