<script src="http://www.youtube.com/player_api"> </script>
<div id="player"></div>
<% tracks.forEach(function(track){ %>
  <%= track %>
<% }) %>

<%= name %>
<%= urlname %>
<script>
var tracks=<%- tracks=JSON.stringify(tracks) %>
</script>
<script src="/javascripts/party.js">
</script>